@import "tailwindcss";
/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background: bg-gradient-to-r from-teal-200 to-blue-300;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
}
